@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple {
  color: purple;
}

.first-request {
  text-align: center;
}

.second-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
